@use './colors' as c;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
    opacity: .5;
}

ul{
    list-style-type: none;
}
button{
    border: none;
 }