@use '../partials/mixins' as m;
@use '../partials/fonts';

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 3em;
    gap: 10px;
    &_services{
        @include m.display-flex(column, 10px, space-evenly);
        align-items: flex-start;
        @include m.word-break(300px)
    }
}

.account{
    border: solid 2px var(--gray-1);
    height: 400px;
    width: 400px;
    padding: 2em;
    @include m.display-flex(column, 10px, space-evenly);
    align-items: start;
    align-content: start;
    text-align: start;
    div{
        border: solid 2px #fff;
        width: 40px;
    }
    svg{
        background-color: var(--text-color);
    }
}